sqlite3
langchain
langchain-groq
langchain-core
langchain-community
langchain_tavily
sentence_transformers
numpy
langgraph
langgraph-checkpoint-sqlite
chromadb
python-dotenv
detoxify
presidio_analyzer
presidio_anonymizer
tiktoken
pytest
smtplib
markitdown[all]
